{ 
    Filter = { 
        Bundles = ( 
            "com.apple.mobileslideshow", 
            "com.apple.mobileslideshow.PhotosMessagesApp", 
            "com.apple.mobileslideshow.photo-picker", 
            "com.apple.mobileslideshow.photospicker",
            "com.apple.PhotosUICore",
            "com.apple.tccd",
            "com.apple.UIKit"
        ); 
    }; 
}
