Package: com.noisyflake.albummanager
Name: AlbumManager
Version: 1.0.0
Architecture: iphoneos-arm
Description: Manage and protect your photo albums
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
