{
	items = (
		{
			cell = PSSwitchCell;
			cellClass = AlbumManagerSwitch;
			cellSubtitleText = "Requires a Respring";
			key = enabled;
			label = "Enable Tweak";
			// systemIcon = "power";
			set = "setTweakEnabled:specifier:";
		},
		{
			cell = PSGroupCell;
			label = "Settings";
		},
        {
			cell = PSSwitchCell;
			cellClass = AlbumManagerSwitch;
			cellSubtitleText = "Keep unlocked albums unlocked\nuntil you leave the Photos app";
			key = rememberUnlock;
			label = "Keep albums unlocked";
			// systemIcon = "clock.fill";
		},
        {
			cell = PSSwitchCell;
			cellClass = AlbumManagerSwitch;
			cellSubtitleText = "Unlock all albums with the same authentication method at once";
			key = unlockSameAuth;
			label = "Unlock all albums";
			// systemIcon = "key.fill";
		},
		{
			cell = PSSwitchCell;
			cellClass = AlbumManagerSwitch;
			cellSubtitleText = "Only applies to the Photos app";
			key = showLockedAlbums;
			label = "Show locked albums";
			// systemIcon = "eye.circle.fill";
		},
		{
			cell = PSButtonCell;
			cellClass = AlbumManagerButton;
			action = resetSettings;
			label = "Reset Settings";
			confirmation = {
				title = "Reset Settings";
				prompt = "Reset all settings and ALBUM LOCKS.\nThis action cannot be undone.";
				cancelTitle = "Cancel";
			};
			isDestructive = 1;
			// systemIcon = "gobackward";
		},
		{
			cell = PSGroupCell;
			label = "Developer";
		},
		{
			cell = PSButtonCell;
			cellClass = AlbumManagerButton;
			action = twitter;
			label = "Follow on Twitter";
			// systemIcon = "person.crop.circle.fill.badge.plus";
		},
		{
			cell = PSButtonCell;
			cellClass = AlbumManagerButton;
			action = paypal;
			label = "Buy me a coffee";
			// systemIcon = "gift.circle.fill";
		}

	);
	title = "";
}